
@media(max-width=1200px){
.main{
padding:0 10px;
}

.main ol{
	padding-left:50px;
}
}


@media(max-width:670px){
	body{
	width:100%;
	}

	footer{
		text-align:center;
	}
	h3{
		font-size:20px;
	}
	li{
		font-size:16px;
	}

	}
