@media(max-width:670px){
	body{
	width:100%;
	}

	footer{
		text-align:center;
	}
	h3{
		font-size:20px;
	}
	li{
		font-size:14px;
	}
		.main{
		padding:0 20px;
	}

	.main ol{
		padding-left:50px;
		}
	}
